p {
   color: #91320F ;
   font-size: 100%;
}
blockquote { 
    color: #2D910F;
    font-size: 50%;
}
footer {
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
}
a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color:red;
    background-color: transparent;
    text-decoration: underline;
}

a:hover{
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}